*{
	margin: 0;
	padding: 0;
}
label{
	font-family: 'Oswald', sans-serif;
}
.button {
	border: 0px;
	display: inline-block;
	border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
	font-size: 10pt;
	font-weight: bolder;
	text-decoration: none;
	color: #FFFFFF;
}
.blue{
	background: linear-gradient(#1e5799,#2989d8,#1e5799);
}
.width{
	width: 150px;
}
.green{
	background: linear-gradient(#009f07,#83c783,#009f07);
}
.red{
	background: linear-gradient(#ff3019,#cf0404,#ff3019);
}
.delpost{
	margin-left: 550px;
}
.delcom{
	margin-left: 500px;
}
.standout{
	font-weight: bold;
	font-size: .75em;
	display: block;
}
.errors{
	color: #FF0000;
	border: 1px solid #FF0000;
}
.error{
	border: 2px solid #000000;
	background-color: #E56568;
	width: 500px;
	text-align: center;
	margin: 50px auto 0px;
}
.success{
	border: 2px solid #000000;
	background-color: #64A85A;
	width: 300px;
	text-align: center;
	margin: 50px auto 0px;
}
.posts{
	width: 700px;
	margin: 20px auto;
	border-bottom: 1px solid #000000;
}
.name{
	font-weight: bolder;
}
.date{
	font-style: italic;
}
.post{
	display: block;
	text-indent: 20px;
}

.comments{
	width: 650px;
	margin-left: 100px;
}
.content{
	display: block;
	text-indent: 20px;
	border-bottom: 1px dotted #000000;
	margin-bottom: 10px;
}
.comment_box textarea{
    width: 650px;
    margin-left: 100px;
    height: 50px;
    border-radius: 5px;
    overflow: scroll;
}
.comment_box input[type="submit"]{
	margin-left: 600px;
	display: block;
	width: 150px;
    border-radius: 5px;
}
#container{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: scroll;
}
#wrapper{
	position: relative;
	width: 1000px;
	margin: 0px auto;
}
#title{
	position:relative;
	vertical-align: top;
	width: 1000px;
	height: 40px;
	padding: 10px 10px;
	background-color: #000000;
	color: #FFFFFF;
}
#title h1{
	height: 40px;
	margin-left: 10px;
}
#user{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	width: 200px;
	vertical-align: top;
	text-align: right;
	margin: 5px 10px;
	padding: 10px;
}
#user h6{
	display: inline-block;
	margin-right: 5px;
}
#body{
	width: 800px;
	margin: 0px auto 70px;
	overflow: scroll;
}
#login{
	position: relative;
	width: 300px;
	height: 300px;
	margin: 100px auto;
	color: #000000;
}
#login table tr td{
	width: 280px;
	overflow: visible;
}
#login table tr:last-child{
	height:40px;
}
#login table tr:last-child td:first-child{
	width: 180px;
}
#login input[type="text"]{
    width: 200px;
    height: 20px;
    border-radius: 5px;
	margin-left: 25px;
}
#login input[type="password"]{
    width: 200px;
    height: 20px;
    margin-left: 25px;
    border-radius: 5px;
}
#login input[type="submit"]{
    width: 150px;
    border-radius: 5px;
}
#register{
	position: relative;
	width: 300px;
	height: 300px;
	margin: 100px auto;
	color: #000000;
}
#register table tr td{
	width: 280px;
}
#register table tr:last-child{
	height:40px;
}
#register input[type="text"]{
    width: 200px;
    height: 20px;
    border-radius: 5px;
	margin-left: 25px;
}
#register input[type="password"]{
    width: 200px;
    height: 20px;
    margin-left: 25px;
    border-radius: 5px;
}
#register input[type="submit"]{
    width: 150px;
    border-radius: 5px;
}
#post{
	width:700px;
	margin: 20px auto;
	position: relative;
}
#post textarea{
    width: 700px;
    height: 100px;
    border-radius: 5px;
    overflow: scroll;
}
#post input[type="submit"]{
	margin-left: 550px;
	display: block;
	width: 150px;
    border-radius: 5px;
}
#footer{
	position: fixed;
	bottom: 0px;
	width: 1000px;
	height: 40px;
	padding: 10px 10px;
	background-color: #000000;
	color: #FFFFFF;
}